Source: ocaml-re2ml
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 dh-ocaml,
 ocaml-nox (>= 3.12),
 ocaml-findlib (>= 1.3.1-2),
 libbaselib-ocaml-dev,
 libcodegen-ocaml-dev,
 libsexplib-camlp4-dev,
 camlp4-extra,
 menhir,
 noweb
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/re2ml
Vcs-Git: git://github.com/pippijn/re2ml
Vcs-Browser: https://github.com/pippijn/re2ml

Package: re2ml
Architecture: any
Depends: ${ocaml:Depends}, ${misc:Depends}, ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Fast lexer generator compatible with ocamllex
 Does not currently support submatching.
